---
import Layout from '../components/Layout.astro';
---

<Layout title="Welcome to Analia's Frontend Practice">
	<main>
		<h1>Welcome to Analia's Frontend Practice</h1>
		<p>
			Listed below are Analia's implementations for projects found on <a href="https://www.frontendpractice.com/projects">Frontend Practice</a>
		</p>
		<ul>
			<li><a href="/projects/ableton">Ableton</a></li>
		</ul>
	</main>
</Layout>

<style>
  html {
    font-family: system-ui, sans-serif;
  }

	main {
		max-width: 60ch;
		margin: 100px auto;
	}
</style>
