---
import '../styles/normalize.css';

export interface Props {
	title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <slot name="header" />
	<title>{title}</title>
</head>
<body>
	<slot />
</body>
</html>

<style is:global>
  * {
		box-sizing: border-box;
	}

  body {
    margin: 0;
    padding: 0;
  }

  .visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: auto;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
  }
</style>
