---
import ProjectLayout from '../../components/ProjectLayout.astro';
---

<ProjectLayout title="Ableton (Unofficial)">
  <link slot="header" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&amp;display=swap" rel="stylesheet">

  <h1>Ableton Project</h1>
</ProjectLayout>

<style>
  html {
    font-family: 'Open Sans', sans-serif;
  }
</style>
